@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

#menu h1{
    text-align: center;
}
.w-100{
    height:20%;
    width:30%;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #512a10;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

section {
  padding: 5rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid #512a10;
  color: #512a10;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.link-btn:hover {
  background: #512a10;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}

.header {
  z-index: 1000;
  padding: 4rem 0;
}

.header.active {
  padding: 2rem 0;
  background: #512a10;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .nav a {
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}

.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: .5rem;
}

.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}

.header #menu-btn {
  display: none;
}

.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg.jpg) no-repeat;
  background: linear-gradient(rgb(37 30 30 / 70%), rgb(3 3 3 / 70%)), url(bg.jpg) no-repeat;
  opacity: 190%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home span {
  font-size: 2.5rem;
  color: #fff;
}

.home h3 {
  padding: 1rem 0;
  font-size: 6rem;
  color: #fff;
}

.home .link-btn {
  color: #fff;
  border-color: #fff;
}

.about span {
  font-size: 2.5rem;
  color: #512a10;
}

.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}

.about p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.about .icons-container .icons {
  padding: 2rem;
  background: #eee;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14rem;
          flex: 1 1 14rem;
}

.about .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #512a10;
}

.about .icons-container .icons h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #222;
}

.menu {
  background: #eee;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.menu .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
  border-radius: .5rem;
}

.menu .box-container .box:hover {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.menu .box-container .box img {
  height: 15rem;
  margin-bottom: 2rem;
}

.menu .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
}

.menu .box-container .box p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.footer {
  text-align: center;
}

.footer .logo {
  font-size: 3rem;
  color: #512a10;
  font-weight: bolder;
}

.footer .credit {
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
}

.footer .credit span {
  text-decoration: underline !important;
}

.footer .share {
  margin-top: 3rem;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: 0.1rem solid #512a10;
  color: #512a10;
  margin: 0 .3rem;
}

.footer .share a:hover {
  background: #512a10;
  color: #fff;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
  }
  .home h3 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.map{
    width: 50%;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 78px; 
}
.contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    background-color:gainsboro; 
}
  .contact-caption {
    color: #040405;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    padding-top: 51px;
    padding-left: 43px;
    margin-bottom: 34px; 
}  
.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 43px; 
}
.contact-btn,
.contact-area,
.contact-input {
    width: 50%;
    border: none;
    outline: none; 
}
  
.contact-label {
    color: #323232;
    font-family: Montserrat;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 12px; 
}
  
.contact-input {
    margin-bottom: 21px;
    padding: 10px 5px; 
}
.contact-area {
    margin-bottom: 15px;
    padding: 10px 5px;
 }
  
.contact-btn {
    color: black;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 17px 0;
    background-color:rgb(42, 151, 165);
    font-size: 10px;
    margin-bottom: 52px; 
}